/.vscode/
/.github/
/build/
/node_modules/
/lib/
/src/
/test/
/deps/
/packages/
/todos/

/.clang-format
/.clangd
/.gitignore
/.npmignore
/binding.gyp
/tsconfig.json
/tsdown.config.ts
/build-script.sh
/pnpm-lock.yaml
