/.vscode/
/.github/
/build/
/node_modules/
/lib/
/src/
/test/
/deps/
/packages/
/todo/

/.clang-format
/.clangd
/.gitignore
/.npmignore
/binding.gyp
/tsconfig.json
/build-script.sh
/pnpm-lock.yaml